<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
n = 7 #int(input())
m = 4 #int(input())
k = 21 #int(input())

if n > m:
    max_st = n
    min_st = m
else:
    max_st = m
    min_st = n
    
if (k % min_st == 0 or k % max_st == 0 or max_st == k) and (n * m) >= k:
    print('YES')
else:    
    print('NO')

In [ ]:
n = int(input())
m = int(input())
k = int(input())
if k < n * m and ((k % n == 0) or (k % m == 0)):
    print('YES')
else:
    print('NO')

Яша плавал в бассейне размером N × M метров и устал. В этот момент он обнаружил, что находится на расстоянии x метров от одного из длинных бортиков (не обязательно от ближайшего) и y метров от одного из коротких бортиков. Какое минимальное расстояние должен проплыть Яша, чтобы выбраться из бассейна на бортик? Программа получает на вход числа N, M, x, y. Программа должна вывести число метров, которое нужно проплыть Яше до бортика

In [ ]:
n =  18 #int(input()) 8
m =  90 #int(input())
x =  3 #int(input())
y =  63 #int(input())

long  = max(n, m)
short = min(n, m)
remains_long  = long  - y
remains_short = short - x

print(min(x, y, remains_long, remains_short))

В некоторой школе занятия начинаются в 9:00. Продолжительность урока — 45 минут, после 1-го, 3-го, 5-го и т.д. уроков перемена 5 минут, а после 2-го, 4-го, 6-го и т.д. — 15 минут.

Дан номер урока (число от 1 до 10). Определите, когда заканчивается указанный урок.

Выведите два целых числа: время окончания урока в часах и минутах.

In [ ]:
n = 3
s = 45
for i in range(1, n+1):
    #print(i)
    if i % 2 == 0:
        change = 15
    else:
        change = 5
    if n > i:
        #print('перемена', change)
        s += 45 + change
hour = 9+(s // 60)
mn = s % 60
print(f'{hour}:{mn}')

Дано натуральное число. Найдите число десятков в его десятичной записи.

In [ ]:
n = int(input())
print(((n % 100)*10) // 100)

Дано положительное действительное число X. Выведите его первую цифру после десятичной точки.

In [ ]:
n = float(input())
print(int(n*10) % 10)

Дано положительное действительное число X. Выведите его дробную часть.

In [ ]:
n = float(input())
print(n - int(n))

Длина Московской кольцевой автомобильной дороги — 109 километров. Байкер Вася стартует с нулевого километра МКАД и едет со скоростью v километров в час. На какой отметке он остановится через t часов?

Программа получает на вход значение v и t. Если v>0, то Вася движется в положительном направлении по МКАД, если же значение v<0, то в отрицательном.

Программа должна вывести целое число от 0 до 108 — номер отметки, на которой остановится Вася.

In [ ]:
v = -108 #int(input())
t = 109 #int(input())
s = 109
circle = abs(t * v) // s
if v > 0:
    print((t * v) - (s * circle))
elif abs((s * circle) - abs(s+(t * v))) == 109:
    print(0)
else:
    print(abs((s * circle) - abs(s+(t * v))))

In [ ]:
v = -108 #int(input())
t = 109 #int(input())
print((v * t) )
print((v * t) % 109)

Пирожок в столовой стоит a рублей и b копеек. Определите, сколько рублей и копеек нужно заплатить за n пирожков. Программа получает на вход три числа: a, b, n, и должна вывести два числа: стоимость покупки в рублях и копейках.

In [ ]:
a = '2435' #input()
b = '6' #input()
n = 1965 #int(input())

itog = round((int(a) + int(b)/100) * n, 2)
rub, kop = '{:.2f}'.format(itog).split('.')
print(rub, kop)

a = int(a)
b = int(b)
cost = n * (100 * a + b)
print(cost // 100, cost % 100)
print('cost=',cost)

In [ ]:
a = int(input())
b = int(input())
n = int(input())
cost = n * (100 * a + b)
print(cost // 100, cost % 100)

Улитка ползет по вертикальному шесту высотой h метров, поднимаясь за день на a метров, а за ночь спускаясь на b метров. На какой день улитка доползет до вершины шеста?

Программа получает на вход натуральные числа h, a, b.

Программа должна вывести одно натуральное число. Гарантируется, что a>b.

In [ ]:
h = 10 #int(input())
a = 100 #int(input())
b = 0 #int(input())

s = 0
cnt = 0
for i in range(h):
    s += a
    cnt += 1
    if s >= h:
        break
    else:
        s -= b
print(cnt)

print(int((h - a - 1) // (a - b) + 2))

p = h - a
k = abs(p // (a - b)) + 0
print(k)

Дано несколько чисел. Вычислите их сумму. Сначала вводите количество чисел N, затем вводится ровно N целых чисел. Какое наименьшее число переменных нужно для решения этой задачи?

In [ ]:
n = 10 #int(input())
s = 0
for i in range(n):
    s += int(input())
print(s)

Дано N чисел: сначала вводится число N, затем вводится ровно N целых чисел. Подсчитайте количество нулей среди введенных чисел и выведите это количество. Вам нужно подсчитать количество чисел, равных нулю, а не количество цифр.

In [ ]:
n = 10 #int(input())
cnt = 0
for i in range(n):
    if int(input()) == 0:
        cnt += 1
print(cnt)

In [ ]:
n = 10 #int(input())
cnt = [1 for i in range(n) if int(input()) == 0]
print(sum(cnt))

По данному натуральному n вычислите сумму 1^3+2^3+3^3+...+n^3.

In [ ]:
n = 3
s = 0
for i in range(1, n+1):
    s += pow(i, 3)
print(s)

In [ ]:
n = 3 #int(input())
s = [pow(i, 3) for i in range(1, n+1)]
print(sum(s))
s

In [ ]:
print(sum([pow(i, 3) for i in range(1, int(input())+1)]))

Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A до B включительно.

In [ ]:
a = 1 #int(input())
b = 3 #int(input())
for i in range(a, b+1):
    print(i, end=' ')

In [ ]:
for i in range(int(input()), int(input())+1):
    print(i, end=' ')

Даны два целых числа A и В. Выведите все числа от A до B включительно, в порядке возрастания, если A < B, или в порядке убывания в противном случае.

In [ ]:
a = 3 #int(input())
b = 1 #int(input())

if a < b:
    for i in range(a, b+1):
        print(i)
else:
    b, a = a, b
    for i in reversed(range(a, b+1)):
        print(i)

Даны два целых числа A и В, A>B. Выведите все нечётные числа от A до B включительно, в порядке убывания. В этой задаче можно обойтись без инструкции if.

In [ ]:
a = 0 #int(input())
b = 10 #int(input())
for i in range(b, a-1, -1):
    if i % 2 != 0:
        print(i, end=' ')

In [ ]:
a = 8 #int(input())
b = 1 #int(input())
for i in range(a - (a + 1) % 2, b - b % 2, -2):
    print(i, end=' ')

Дано 10 целых чисел. Вычислите их сумму. Напишите программу, использующую наименьшее число переменных.

In [ ]:
s = 0
for i in range(3):
    s += int(input())
print(s)

In [ ]:
 print(sum([int(input()) for i in range(10)]))

Факториалом числа n называется произведение 1 × 2 × ... × n. Обозначение: n!.
По данному натуральному n вычислите значение n!. Пользоваться математической библиотекой math в этой задаче запрещено.

In [ ]:
n = 5 #int(input())
s = 1
for i in range(1, n+1):
    s *= i
print(s)

За день машина проезжает n километров. Сколько дней нужно, чтобы проехать маршрут длиной m километров? Программа получает на вход числа n и m.

In [ ]:
from math import ceil
n = 700 #int(input())
m =1000 #int(input())

print(ceil(m / n))

Даны значения двух моментов времени, принадлежащих одним и тем же суткам: часы, минуты и секунды для каждого из моментов времени. Известно, что второй момент времени наступил не раньше первого. Определите, сколько секунд прошло между двумя моментами времени.

Программа на вход получает три целых числа: часы, минуты, секунды, задающие первый момент времени и три целых числа, задающих второй момент времени.

Выведите число секунд между этими моментами времени.

In [ ]:
a1 = 1 #int(input())
a2 = 1 #int(input())
a3 = 1 #int(input())
b1 = 2 #int(input())
b2 = 2 #int(input())
b3 = 2 #int(input())

t1 = a1*(60**2)+a2*60+a3
t2 = b1*(60**2)+b2*60+b3

print(t2-t1)

Дано трехзначное число. Найдите сумму его цифр.

In [ ]:
n = 345 #int(input())

print(n % 10 + (n // 10) % 10 + (n // 100) % 10)

Дано два числа a и b. Выведите гипотенузу треугольника с заданными катетами.

In [ ]:
a = 4 #int(input())
b = 3 #int(input())

print((a**2 + b**2)**(1/2))

С начала суток прошло H часов, M минут, S секунд (0 ≤ H < 12, 0 ≤ M < 60, 0 ≤ S < 60). По данным числам H, M, S определите угол (в градусах), на который повернулаcь часовая стрелка с начала суток и выведите его в виде действительного числа.

Процентная ставка по вкладу составляет P процентов годовых, которые прибавляются к сумме вклада. Вклад составляет X рублей Y копеек. Определите размер вклада через год.
Программа получает на вход целые числа P, X, Y и должна вывести два числа: величину вклада через год в рублях и копейках. Дробная часть копеек отбрасывается.

In [ ]:
p = 15 #int(input())
x = 159 #int(input())
y = 3 #int(input())

s = x * 100 + y
s_year = s + (s * (p / 100))

print(int(s_year // 100), int(s_year % 100))

По данному натуральном n вычислите сумму 1!+2!+3!+...+n!. В решении этой задачи можно использовать только один цикл. Пользоваться математической библиотекой math в этой задаче запрещено.

In [ ]:
n = 4 #int(input())
s = 0
f = 1
for i in range(1, n+1):
    f *= i
    s += f
print(s)

По данному натуральному n ≤ 9 выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

In [ ]:
n = 9 #int(input())
s = ''
for i in range(1, n+1):
    s += str(i)
    print(s)

Для настольной игры используются карточки с номерами от 1 до N. Одна карточка потерялась. Найдите ее, зная номера оставшихся карточек.
Дано число N, далее N − 1 номер оставшихся карточек (различные числа от 1 до N). Программа должна вывести номер потерянной карточки.

In [ ]:
n = 3 #int(input())
s = ''
for i in range(1, n):
    s += str(input())
for i in range(1, n+1):
    if str(i) not in s:
        print(i)
        break

In [ ]:
n = int(input())
sum = 0
for i in range(1, n + 1):
    sum += i
# можно доказать формулу:
# sum == n * (n + 1) // 2
# но мы посчитаем это значение циклом
for i in range(n - 1):
    sum -= int(input())
print(sum)

Дана строка.

Сначала выведите третий символ этой строки.

Во второй строке выведите предпоследний символ этой строки.

В третьей строке выведите первые пять символов этой строки.

В четвертой строке выведите всю строку, кроме последних двух символов.

В пятой строке выведите все символы с четными индексами (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого).

В шестой строке выведите все символы с нечетными индексами, то есть начиная со второго символа строки.

В седьмой строке выведите все символы в обратном порядке.

В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

В девятой строке выведите длину данной строки.

In [ ]:
n = 'Abrakadabra' #input()

print(n[2]) #1 выведите третий символ этой строки
print(n[-2]) #2 выведите предпоследний символ этой строки
print(n[:5]) #3 выведите первые пять символов этой строки
print(n[:-2]) #4 выведите всю строку, кроме последних двух символов
for i in range(len(n)): #5 выведите все символы с четными индексами 
    if i % 2 == 0:      # (считая, что индексация начинается с 0, поэтому символы выводятся начиная с первого)
        print(n[i], end='')
print()
print(s[::2]) #5
for i in range(len(n)): #6 выведите все символы с нечетными индексами, то есть начиная со второго символа строки
    if i % 2 != 0:
        print(n[i], end='')
print()
print(s[1::2]) #6 выведите все символы с нечетными индексами, то есть начиная со второго символа строки
for i in reversed(n): #7 выведите все символы в обратном порядке
    print(i, end='')
print()
print(s[::-1]) #7 выведите все символы в обратном порядке
cnt = 0
for i in reversed(n): #8 выведите все символы строки через один в обратном порядке, начиная с последнего
    if cnt % 2 == 0:
        print(i, end='')
    cnt += 1
print()
print(s[::-2]) #8 выведите все символы строки через один в обратном порядке, начиная с последнего
print(len(n)) #9 выведите длину данной строки

Дана строка, состоящая из слов, разделенных пробелами. Определите, сколько в ней слов. Используйте для решения задачи метод count.

In [ ]:
n = 'Hello world' #input()
print(n.count(' ')+1)

Дана строка. Разрежьте ее на две равные части (если длина строки — четная, а если длина строки нечетная, то длина первой части должна быть на один символ больше). Переставьте эти две части местами, результат запишите в новую строку и выведите на экран.

При решении этой задачи не стоит пользоваться инструкцией if.

In [ ]:
n = 'Hello world' #input()
c = int(round(len(n)/2, 0))
print(n[c:]+n[:c])

Дана строка, состоящая ровно из двух слов, разделенных пробелом. Переставьте эти слова местами. Результат запишите в строку и выведите получившуюся строку.

При решении этой задачи не стоит пользоваться циклами и инструкцией if.

In [ ]:
n = 'Hello world' #input()
c = n.find(' ')
print(n[c+1:]+' '+n[:c])

Дана строка. Если в этой строке буква f встречается только один раз, выведите её индекс. Если она встречается два и более раз, выведите индекс её первого и последнего появления. Если буква f в данной строке не встречается, ничего не выводите.

При решении этой задачи не стоит использовать циклы.

In [ ]:
n = 'comfortfjhkhkf' #input()
cnt = n.count('f')
if cnt == 1:
    print(n.find('f'))
elif cnt > 1:
    print(n.find('f'), n.rfind('f'))

Дана строка. Найдите в этой строке второе вхождение буквы f, и выведите индекс этого вхождения. Если буква f в данной строке встречается только один раз, выведите число -1, а если не встречается ни разу, выведите число -2.

In [ ]:
n = 'comfortfjhkhkf' #input()
n ='wqwf'
cnt = n.count('f')
if cnt == 1:
    print('-1')
elif cnt > 1:
    print(n.find('f', n.find('f')+1))
else:
    print('-2')

Дана строка, в которой буква h встречается минимум два раза. Удалите из этой строки первое и последнее вхождение буквы h, а также все символы, находящиеся между ними.

In [ ]:
n = 'comhortfjhkhkf' #input()
print(n[n.find('h'):n.rfind('h')+1])
print(n.replace(n[n.find('h'):n.rfind('h')+1], ''))
s = n[:n.find('h')] + n[n.rfind('h') + 1:]
print(s)

Дана строка, в которой буква h встречается как минимум два раза. Разверните последовательность символов, заключенную между первым и последним появлением буквы h, в противоположном порядке.

In [ ]:
n = 'comh1rtfjh2hkf' #input()
s = n[n.find('h')+1:n.rfind('h')]
print(n.replace(s, s[::-1]))

Дана строка. Замените в этой строке все цифры 1 на слово one.

In [ ]:
n = '1+1=2' #input()
print(n.replace('1', 'one'))

Дана строка. Удалите из этой строки все символы @.

In [ ]:
n = '@+1=2' #input()
print(n.replace('@', ''))

Дана строка. Замените в этой строке все появления буквы h на букву H, кроме первого и последнего вхождения.

In [ ]:
n = 'hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh' #input()
s = (n[n.find('h')+1:n.rfind('h')]).replace('h', 'H')
print(n[:n.find('h')+1]+s+n[n.rfind('h'):])

Дана строка. Удалите из нее все символы, чьи индексы делятся на 3

In [ ]:
n = 'comh1rtfjh2hkf' #input()
for i in range(len(n)):
    if i % 3 !=0 :
        print(n[i], end='')

По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

In [ ]:
n = 10
s = 1
while s**2 <= n:
    print(s**2)
    s +=1

Дано целое число, не меньшее 2. Выведите его наименьший натуральный делитель, отличный от 1.

In [ ]:
n = 19 # int(input())
s = n
while s > 1:
    if n % s == 0:
        nod = s
    s -= 1
print(nod)

i = 2
while n % i != 0:
    i += 1
print(i)

По данному натуральному числу N найдите наибольшую целую степень двойки, не превосходящую N. Выведите показатель степени и саму степень.

Операцией возведения в степень пользоваться нельзя!

In [ ]:
n = 32 # int(input())
i = 2
st = 1
while i <= n:
    i = i * 2
    st += 1
print(st - 1, i // 2)

В первый день спортсмен пробежал x километров, а затем он каждый день увеличивал пробег на 10% от предыдущего значения. По данному числу y определите номер дня, на который пробег спортсмена составит не менее y километров.

Программа получает на вход действительные числа x и y и должна вывести одно натуральное число.

In [ ]:
x = 20 # int(input())
y = 20 # int(input())
day = 1
while x < y:
    x += x / 10
    day += 1
print(day)

Программа получает на вход последовательность целых неотрицательных чисел, каждое число записано в отдельной строке. Последовательность завершается числом 0, при считывании которого программа должна закончить свою работу и вывести количество членов последовательности (не считая завершающего числа 0). Числа, следующие за числом 0, считывать не нужно.

In [ ]:
n = int(input())
cnt = 0
while n != 0:
    n = int(input())
    cnt += 1
print(cnt)

In [ ]:
len = 0
while int(input()) != 0:
    len += 1
print(len)

Определите сумму всех элементов последовательности, завершающейся числом 0. В этой и во всех следующих задачах числа, следующие за первым нулем, учитывать не нужно.

In [ ]:
n = int(input())
s = 0
while n != 0:
    s += n
    n = int(input())
print(s)

Определите среднее значение всех элементов последовательности, завершающейся числом 0.

In [ ]:
n = int(input())
s, i = 0, 0
while n != 0:
    s += n
    i += 1
    n = int(input())
print(s / i)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите значение наибольшего элемента последовательности.

In [ ]:
s_max = n = int(input())
while n != 0:
    n = int(input())
    if s_max < n:
        s_max = n
print(s_max)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите индекс наибольшего элемента последовательности. Если наибольших элементов несколько, выведите индекс первого из них. Нумерация элементов начинается с нуля.

In [ ]:
n, s_max = -1, 0
s_str = []
while n != 0:
    n = int(input())
    if s_max < n:
        s_max = n
    s_str.append(n)
print(s_max)
print(s_str.index(s_max))

Определите количество четных элементов в последовательности, завершающейся числом 0.

In [ ]:
s = 0
n = -1
while n != 0:
    n = int(input())
    if n % 2 == 0:
        s += 1
print(s-1)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите, сколько элементов этой последовательности больше предыдущего элемента.

In [ ]:
cnt = 0
n1 = n2 = int(input())
while n2 != 0:
    n2 = int(input())
    if n1 < n2:
        cnt += 1
    n1 = n2
print(s_max)
print(cnt)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите, сколько элементов этой последовательности равны ее наибольшему элементу.

In [ ]:
n = -1
s_max = 0
s_str = []
while n != 0:
    n = int(input())
    if s_max < n:
        s_max = n
    s_str.append(n)
print(s_str.count(s_max))

Последовательность состоит из различных натуральных чисел и завершается числом 0. Определите значение второго по величине элемента в этой последовательности. Гарантируется, что в последовательности есть хотя бы два элемента.

In [ ]:
n = -1
s_str = []
while n != 0:
    n = int(input())
    s_str.append(n)
s_str.sort(reverse= True)
print(s_str[1])

По данному числу n определите n-е число Фибоначчи φn.

In [ ]:
n = 6 # int(input())
sqr5 = 5**(1/2)
PHI = (sqr5 + 1) / 2
print(int(PHI ** n / sqr5 + 0.5))

In [ ]:
n = int(input())
if n == 0:
    print(0)
else:
    a, b = 0, 1
    for i in range(2, n + 1):
        a, b = b, a + b
    print(b)

Дана последовательность натуральных чисел, завершающаяся числом 0. Определите, какое наибольшее число подряд идущих элементов этой последовательности равны друг другу.

In [ ]:
n1 = int(input())
s = 1
s_max = 1
while n1 != 0:
    n2 = int(input())
    if n1 == n2:
        s += 1
    else:
        s = 1
    n1 = n2
    if s_max < s:
        s_max = s
print(s_max)

Определите стандартное отклонение для данной последовательности натуральных чисел, завершающейся числом 0.

In [4]:
n = -1
cnt = 0
s_str = []
while n != 0:
    n = int(input())
    if n !=0 :
        s_str.append(n)
        cnt += 1
s_avg = sum(s_str) / cnt
s = 0
for el in s_str:
    s += (el - s_avg)**2
sm = s / (cnt - 1)
print(sm**(0.5))

1
2
3
0
1.0

Выведите все элементы списка с четными индексами (то есть A[0], A[2], A[4], ...).

In [16]:
spisok = input().split(' ') #['1', '2', '3', '4', '5']
for i in range(0, len(spisok), 2):
    print(spisok[i], end=' ')

1 2 3 4 5
1 3 5

In [19]:
#spisok = input().split(' ') 
spisok = '1 2 3 4 5'.split(' ') 
for el in spisok:
    if int(el) % 2 == 0:
        print(el, end=' ')

2 4

Дан список чисел. Выведите все элементы списка, которые больше предыдущего элемента.

In [23]:
#spisok = input().split(' ') 
spisok = '1 5 2 4 3'.split(' ') 
prev = int(spisok[0])
for el in spisok:
    if int(el) > prev:
        print(el, end=' ')
    prev = int(el)

5 4

Дан список чисел. Если в нем есть два соседних элемента одного знака, выведите эти числа. Если соседних элементов одного знака нет — не выводите ничего. Если таких пар соседей несколько — выведите первую пару.

In [35]:
spisok1 = '1 2 2 4 5'.split(' ')
spisok = [int(el) for el in spisok1]
#spisok = [int(el) for el in input().split(' ')]
for i in range(1, len(spisok)):
    if (spisok[i-1]>0 and spisok[i]>0) or (spisok[i-1]<0 and spisok[i]<0):
        print(spisok[i-1], spisok[i])
        break

1 2

In [33]:
a = [int(i) for i in input().split()]
for i in range(1, len(a)):
    if a[i - 1] * a[i] > 0:
        print(a[i - 1], a[i])
        break

[4, 4, 4, 4, 4]

Дан список чисел. Определите, сколько в этом списке элементов, которые больше двух своих соседей, и выведите количество таких элементов. Крайние элементы списка никогда не учитываются, поскольку у них недостаточно соседей.

In [43]:
spisok1 = '1 2 3 4 5'.split(' ')
spisok = [int(el) for el in spisok1]
cnt = 0
for i in range(1, len(spisok)-1):
    if spisok[i] > spisok[i-1] and spisok[i] > spisok[i+1]:
        cnt += 1
print(cnt)

0

Дан список чисел. Выведите значение наибольшего элемента в списке, а затем индекс этого элемента в списке. Если наибольших элементов несколько, выведите индекс первого из них.

In [45]:
spisok1 = '1 2 3 4 5'.split(' ')
spisok = [int(el) for el in spisok1]
s_max = max(spisok)
print(s_max, spisok.index(s_max))

5 4

Петя перешёл в другую школу. На уроке физкультуры ему понадобилось определить своё место в строю. Помогите ему это сделать.
Программа получает на вход невозрастающую последовательность натуральных чисел, означающих рост каждого человека в строю. После этого вводится число X – рост Пети. Все числа во входных данных натуральные и не превышают 200.

Выведите номер, под которым Петя должен встать в строй. Если в строю есть люди с одинаковым ростом, таким же, как у Пети, то он должен встать после них.

In [107]:
spisok = [int(el) for el in input().split(' ')]
n = int(input())
spisok.append(n)
spisok.sort(reverse=True)
print(spisok.index(n)+spisok.count(n))

3

Дан список, упорядоченный по неубыванию элементов в нем. Определите, сколько в нем различных элементов.

In [115]:
spisok = '1 2 3 3 3 3'.split(' ')
# spisok = input().split(' ')
spisok_uniq = []
for el in spisok:
    if el not in spisok_uniq:
        spisok_uniq.append(el)
print(len(spisok_uniq))

3

Переставьте соседние элементы списка (A[0] c A[1], A[2] c A[3] и т. д.). Если элементов нечетное число, то последний элемент остается на своем месте.

In [175]:
spisok = '1 2 3 4 3 5 7'.split(' ')
# spisok = input().split(' ')
spisok1 = []
cnt = len(spisok)
for i in range(cnt):
     if i % 2 != 0:
        spisok1.append(spisok[i])
        spisok1.append(spisok[i-1])
if cnt % 2 != 0:
    spisok1.append(spisok[cnt-1])    
print(*spisok1)

2 1 4 3 5 3 7

In [179]:
for i in range(1, len(spisok), 2):
    spisok[i - 1], spisok[i] = spisok[i], spisok[i - 1]
print(*spisok)

2 1 4 3 5 3 7

В списке все элементы различны. Поменяйте местами минимальный и максимальный элемент этого списка.

In [195]:
spisok = [int(el) for el in '3 4 5 2 1'.split(' ')]
# spisok = [int(el) for el in input().split(' ')]
s_max, s_max_i = max(spisok), spisok.index(max(spisok))
s_min, s_min_i = min(spisok), spisok.index(min(spisok))
spisok.pop(s_max_i)
spisok.insert(s_max_i, s_min)
spisok.pop(s_min_i)
spisok.insert(s_min_i, s_max)
print(*spisok)

3 4 1 2 5

In [229]:
a = [int(el) for el in '3 4 5 2 11'.split(' ')]
#a = [int(el) for el in input().split(' ')]
s_max_i = a.index(max(a))
s_min_i = a.index(min(a))
a[s_max_i], a[s_min_i] = a[s_min_i], a[s_max_i]
print(*a)

3 4 5 11 2

Дан список из чисел и индекс элемента в списке k. Удалите из списка элемент с индексом k, сдвинув влево все элементы, стоящие правее элемента с индексом k.
Программа получает на вход список, затем число k. Программа сдвигает все элементы, а после этого удаляет последний элемент списка при помощи метода pop() без параметров.

Программа должна осуществлять сдвиг непосредственно в списке, а не делать это при выводе элементов. Также нельзя использовать дополнительный список. Также не следует использовать метод pop(k) с параметром.

In [236]:
a = [int(el) for el in '3 4 5 2 11'.split(' ')]
n = 2
#a = [int(el) for el in input().split(' ')]
#n = int(input())
for i in range(n, len(a)-1):
    a[i] = a[i+1]
a.pop()
print(*a)

3 4 2 11

Дан список целых чисел, число k и значение C. Необходимо вставить в список на позицию с индексом k элемент, равный C, сдвинув все элементы, имевшие индекс не менее k, вправо.
Поскольку при этом количество элементов в списке увеличивается, после считывания списка в его конец нужно будет добавить новый элемент, используя метод append.

Вставку необходимо осуществлять уже в считанном списке, не делая этого при выводе и не создавая дополнительного списка.

In [238]:
a = [int(el) for el in '3 4 5 2 11'.split(' ')]
k, C = [int(el) for el in '2 7'.split(' ')]
#a = [int(el) for el in input().split(' ')]
#k, C = [int(el) for el in input().split(' ')]
a.insert(k, C)
print(*a)

3 4 7 5 2 11

Дан список чисел. Посчитайте, сколько в нем пар элементов, равных друг другу. Считается, что любые два элемента, равные друг другу образуют одну пару, которую необходимо посчитать.